<nav class="navbar navbar-expand-lg bg-success navbar-dark">
    <div class="container-fluid ">
        <div class="navbar-header">
  <a class="navbar-brand" href="/registration"><img src="assets/xworkzlogo.png">-DevAppStrore </a>
        </div>


    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><h3 style="color: aqua;">Welcome {{firstName}}  </h3></li>
      <li class="nav-item"><form class="navbar-form navbar-right">
   
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Search" name="search"/>
          <div class="input-group-btn">
            <button class="btn btn-inverse bg-success" type="submit" (click)="onSearch()">
              <i class="glyphicon glyphicon-user"></i>
            </button>
          </div>
        </div>
      </form></li>
        <li class="nav-item" disable="false" ng-hide="fasle"><a class="nav-link" routerLink="/home/add" >Add Item</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/registration" >SignUp</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/login" >Login</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/login" (click)="onLogout()" >Logout</a></li>
      </ul>
   
  
    </div>
</nav>
<router-outlet></router-outlet>